<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      VPS
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">VPS</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
    <ion-card-header>
      <ion-img src="../../assets/cursos/2.jpeg"></ion-img>
    </ion-card-header>
    <ion-item>
      <ion-item><ion-label><ion-button >Nivel Avanzado</ion-button></ion-label></ion-item>
    </ion-item>

    <ion-card-content>
      <ion-card-title>
        VPS Seguro en Ubuntu 20.04 con Letsencrypt, Cloudflare y más      </ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-icon name="caret-forward-circle-outline"></ion-icon>
          </ion-label>
          <ion-label>
            Introducción al AS/400(IBMi) Paso a PasoConociendo el entorno y los primeros comandos básicosCalificación: 4,4 de 5120 reseñas2 horas en           </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="caret-forward-circle-outline"></ion-icon>
          </ion-label>
          <ion-label>
            Controle automáticamente los servidores en su red administrando hosts y utilizando el descubrimiento automático de host          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="caret-forward-circle-outline"></ion-icon>
          </ion-label>
          <ion-label>
            Aprenda a acercar y panoramizar datos en el visor gráfico interactivo accediendo al historial de elementos monitoreados          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="caret-forward-circle-outline"></ion-icon>
          </ion-label>
          <ion-label>
            Administre desencadenantes para identificar un problema en su infraestructura. Agregar dependencias de activación para evitar alertas redundantes          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="caret-forward-circle-outline"></ion-icon>
          </ion-label>
          <ion-label>
            Administre usuarios y grupos de usuarios para asignar un control detallado a las personas que usan y administran su instalación de Zabbix.          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
