  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Up2U</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form class="row g-3">
      <h1>Iniciar Sesión</h1>
      <div>
        <div class="col col-10">
          <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com" required>
        </div>
        
        <div class="col col-10">
          <label for="inputPassword2" class="visually-hidden">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password" required>
        </div>
    
        <div class="col col-9">
          <ion-button href="../tabs/Inicio">Verificar</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
