ion-tab-button:nth-child(1){
    color: red;
}
ion-tab-button:nth-child(2){
    color: green;
}
ion-tab-button:nth-child(3){
    color: purple;
}
ion-tab-button:nth-child(4){
    color: blue;
}
ion-tab-button:hover{
    background-color: rgb(228, 244, 249);
}