<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Elige tu ruta de aprendizaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Elige tu ruta de aprendizaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
      
      <ion-button href="/cursos"  expand="block" color="primary">
       Cursos de optimización de servidores
      </ion-button>

        <ion-button href="/cursos"  expand="block" color="secondary">
          Búscar cursos
        </ion-button>
  
          <ion-button href=""  expand="block" color="tertiary">
            Contacta a un especialista
          </ion-button>
    
            <ion-button href=""  expand="block" color="danger">
              Curso de optimización Web
            </ion-button>
  </ion-grid>
  
</ion-content>
